/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    overflow: hidden;
}

body {
    background: #021a4d;
    padding-top: 60px;
    padding-bottom: 80px;
}

body.home {
    text-align: center;
}

body.home p {
    color: #3be6c4;
}

#introduction {
    font-size: 40px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 105px;
    padding-top: 60px;
    color: #ffe0cc;
}

textarea {
    width: 600px;
    height: 200px;
    border-top: 3px solid #EBFFFF;
    border-bottom: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-image: 
      linear-gradient(#EBFFFF, transparent),
      linear-gradient(#EBFFFF, transparent);
    -moz-background-size: 30px 100%;
    background-size: 3px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat; 
    padding: 20px;
    margin-top: 30px;
    font-size: 17px;
    color:
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1px;
    color: azure;
    background-color: #021a4d;
    resize: vertical;
}

textarea:focus {
    width: 600px;
    height: 200px;
    border-top: 3px solid #EBFFFF;
    border-bottom: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-image: 
      linear-gradient(#EBFFFF, transparent),
      linear-gradient(#EBFFFF, transparent);
    -moz-background-size: 30px 100%;
    background-size: 3px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat; 
    padding: 20px;
    margin-top: 30px;
    font-size: 17px;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1px;
    color: azure;
    background-color: #021a4d;
    resize: vertical;
}

input {
    background: #EBFFFF;
    padding: 5px;
    margin: 15px 0 10px 0;
    font-family: 'Slabo 27px', serif;
    font-size: 17px;
    letter-spacing: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /*color: azure;*/
    border: none;
}

#therapist-summary {
    margin-top: 8px;
}

body {
    background-color: #021a4d;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1px;
}

.logo {
    max-width: 100%;
    height: 36px;
    overflow: hidden;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    margin: 9px 10px 0px 8px;
    float: left;
}

.sidebar-nav {
    padding: 13% 0 3% 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.therapist-list {
    list-style-type: none;
    margin: 0;
}

h1, h2, h3 {
    color: #ffe0cc;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: #34495e;
    
}

h2 {
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}

p {
    color: #3be6c4;
}

li {
    color: #3be6c4;
}

.small-hero-unit {
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 200;
    line-height: 33px;
    width: 162px;
    color: inherit;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow:  -1px 1px #3be6c4,
    -1px 1px #44ddcc,
    -2px 2px #55ccdd,
    -3px 3px #66bbee;
    left: 0;
    display: block;
    float: left;
    margin: 0 20px 20px 0;
    min-height: 300px;
}

.small-hero-unit h4 {
    color: #34495e;
}

.small-hero-unit p {
    position: absolute;
    bottom: 0;
    color: slategray;
    right: 0;
    left: 0;
    text-align: center;
}

.small-hero-unit img {
    position: absolute;
    bottom: 60px;
    max-width: 120px;
}

.result_header {
    margin-bottom: 15px;
    margin-top: 30px;
}

.result-text{
    margin-bottom: 40px;
}

#search-enter {
    font-size: 32px;
    font-weight: bold;
    font-family: inherit;
    color: #666;
    outline: none;
    border: none;
    background: transparent;
    height: 100%;
    width: 100%;
    padding: 40px 30px;
}

#search-container {
    /*margin-left: 440px;*/
    height: 100%;
}

.delete {
    background-image: url("../images/x-button.png");
}

.check {
    margin-right: 20px;
    background-image: url("../images/unchecked-checkbox.png");
}

table td {
    text-align: left;
}

td p {
    font-size: 12px;
    margin-bottom: 5px;
}

td li {
    list-style-type: disc;
}

ul li {
    list-style-type: disc;
}

.grid ul li {
    list-style-type: none;
}

.checked .check {
    background-image: url("../images/checked-checkbox.png");
}

.well-btn {
    background-color: #34495e;
    color: #f3f3f3;
}
.well-btn:hover,
.well-btn:focus,
.well-btn:active,
.well-btn.active,
.well-btn.disabled,
.well-btn[disabled] {
    color: #3be6c4;
    background-color: #34495e;
    *background-color: #34495e;
}

.checked {
    text-decoration: line-through;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-size: 15px;
    display: block;
}

table a:link {
    font-size: 16px;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}

table {
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: center;
    padding-left:20px;
}
table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

@import "bootstrap.css"
@import "bootstrap-responsive"
/*<%= javascript_include_tag "bootstrap" %>*/
/*<%= javascript_include_tag "bootstrap.min" %>*/