/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.home {
    background: #137DCF;
    text-align: center;
}


p.introduction {
    font-size: 40px;
    font-family: 'Alike', Futura, serif;
    padding-bottom: 130px;
    padding-top: 60px;
}

textarea {
    width: 600px;
    height: 120px;
    border-top: 5px solid #EBFFFF;
    border-bottom: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-image: 
      linear-gradient(#EBFFFF, transparent),
      linear-gradient(#EBFFFF, transparent);
    -moz-background-size: 30px 100%;
    background-size: 5px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat; 
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    background-color: #137DCF;
    resize: vertical;
}

textarea:focus {
    width: 600px;
    height: 120px;
    border-top: 5px solid #EBFFFF;
    border-bottom: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-image: 
      linear-gradient(#EBFFFF, transparent),
      linear-gradient(#EBFFFF, transparent);
    -moz-background-size: 30px 100%;
    background-size: 5px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat; 
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    background-color: #137DCF;
    resize: vertical;
}

input {
    background: #EBFFFF;
    padding: 5px;
    margin: 15px 0 10px 0;
    font-family: Tahoma, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: none;
}

#therapist-summary {
    margin-top: 8px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.therapist-list {
    list-style-type: none;
    margin: 0;
}

h2 {
    color: #7733ff;
}

#search-enter {
    font-size: 32px;
    font-weight: bold;
    font-family: inherit;
    color: #666;
    outline: none;
    border: none;
    background: transparent;
    height: 100%;
    width: 100%;
    padding: 40px 30px;
}

#search-container {
    /*margin-left: 440px;*/
    height: 100%;
}

.delete {
    background-image: url("../images/x-button.png");
}

.check {
    margin-right: 20px;
    background-image: url("../images/unchecked-checkbox.png");
}

.checked .check {
    background-image: url("../images/checked-checkbox.png");
}

.checked {
    text-decoration: line-through;
}

@import "bootstrap.css"
@import "bootstrap.min.css"
@import "bootstrap-responsive"
@import "bootstrap-responsive.min"
/*<%= javascript_include_tag "bootstrap" %>*/
/*<%= javascript_include_tag "bootstrap.min" %>*/