<p id="notice"><%= notice %></p>

<body class="home">
	<p class="introduction">
		We'll help you find someone. 
	</div>
		Tell us what's on your mind.
	</p>
	<div>
		<%= form_tag url_for(controller: 'therapists', action: 'search'), method: 'get' do %>
		    <div> <%= text_area_tag(:query) %> </div>
		    <div class="submit_tag"> <%= submit_tag("Go") %> </div>
		<% end %>
	</div>
</body>


<!--this is where you pass the search text into Vanessa's file-->
<%#= link_to 'Search', query: TODO %>