<p id="notice"><%= notice %></p>

<p class="resources"> 
	Note that not all resources are confidential. Confidential resources are marked with an asterisk. Non-confidential resources can be mandatory reporters for sexual assault.
</p>

<h3> Stanford-Specific Resources </h3>

<p class="resources">
* <a class="resources" href="https://stanfordbridge.wordpress.com/"> The Bridge Peer Counceling Center </a> <br>
&emsp; (650) 723-3392 (24/7, except on university holidays) <br>
&emsp; In person at Rogers House, 581 Capistrano Way (9 a.m. - 12 a.m.) <br>
</p>

<p class="resources">
* <a class="resources" href="https://vaden.stanford.edu/get-help-now/sexual-assault"> Confidential Support Team </a> <br>
&emsp; (650) 736-6933 (8:30 a.m.-5 p.m. M-F) or <br>
&emsp; (650) 725-9955 (24/7 urgent) <br>
</p>

<p class="resources">
<a class="resources" href="https://notalone.stanford.edu"> NotAlone - Resources for Sexual Assault Survivors <a>
</p>

<p class="resources">
* <a class="resources" href="http://vaden.stanford.edu/caps/about-us">CAPS</a> (Counseling and Psychological Services) <br>
&emsp; (650) 723-3785
</p>

<p class="resources">
* <a class="resources" href="https://helpcenter.stanford.edu/">Faculty Staff Help Center</a> <br>
&emsp; (650) 723-4577
</p>

<p class="resources">
<a class="resources" href="http://titleix.stanford.edu">Title IX Office </a> <br>
&emsp; (650) 497-4955
</p>

<p class="resources">
<a class="resources" href="https://sara.stanford.edu">SARA</a> (Office of Sexual Assault & Relationship Abuse Education & Response) <br>
&emsp; (650) 725-1056
</p>


<h3> Stanford Student Groups and Community Centers </h3>

<p class="resources">
* <a class="resources" href="https://survivorpsg.wordpress.com/"> Stanford Peer Survivor Support Group </a>
</p>

<p class="resources">
<a class="resources" href="lgbt.stanford.edu"> LGBT CRC </a> (Community Resources Center)
</p>

<p class="resources">
<a class="resources" href="https://elcentro.stanford.edu/"> El Centro Chicano y Latino </a>
</p>

<p class="resources">
<a class="resources" href="http://web.stanford.edu/group/stanfordnaacp/"> Stanford NAACP </a> (National Association for the Advancement of Colored People)
</p>

<p class="resources">
<a class="resources" href="https://bcsc.stanford.edu/get-involved"> BCSC </a> (Black Community Services Center)
</p>

<p class="resources">
<a class="resources" href="https://nacc.stanford.edu/"> NACC </a> (Native American Community Center)
</p>

<p class="resources">
<a class="resources" href="http://web.stanford.edu/dept/a3c/cgi-bin/"> A3C </a> (Asian American Activities Center)
</p>

<p class="resources">
<a class="resources" href="http://studentaffairs.stanford.edu/diversityworks"> Diversity and First Gen Office </a> 
</p>

<p class="resources">
<a class="resources" href="http://studentaffairs.stanford.edu/markaz"> The Markaz</a>: Resource Center for Engagement with the Cultures and Peoples of the Muslim World
</p>

<p class="resources">
	<a class="resources" href="https://www.facebook.com/StanfordYesPlus/"> The Happiness Collective </a>
</p>

<p>
<a class="resources" href="http://yesplus.stanford.edu/"> YesPlus </a>
</p>


<h3> Bay Area Resources </h3>

<p class="resources">
<a class="resources" href="http://www.stanford.edu/group/SUDPS/">Department of Public Safety</a> <br>
&emsp; 911 or <br>
&emsp; (650) 723-9633
</p>

<p class="resources">
<a class="resources" href="http://www.bayareacs.org/"> Bay Area Community Centers </a>
</p>

<p class="resources">
<a class="resources" href="http://www.sf-bacc.org/"> Bay Area Community Counseling </a>
</p>

<h3> National and International Resources </h3>

<p class="resources">
YWCA Sexual Assault and Domestic Violence Support Line <br>
&emsp; (800) 572-2782
</p>

<p class="resources">
<a class="resources" href=" http://www.suicide.org/"> Suicide.org </a>
</p>

<p class="resources">
<a class="resources" href="http://psychcentral.com/"> PsychCentral </a>
</p>

<p class="resources">
<a class="resources" href="http://www.healthyplace.com/other-info/resources/mental-health-hotline-numbers-and-referral-resources/"> Mental Health Hotlines</a>
</p>
