<p id="notice"><%= notice %></p>

<h1>Great! Here are some therapists we think you should check out.</h1>

<!--to display the therapist-->
<div class="row-fluid">
  <div class="span10">
    <% @search_therapists.each do |therapist| %>
      <div class="small-hero-unit">
        <h3><%= therapist.name %></h3>
        <!--<h3>@therapist.title</h3>-->
        <p><%= therapist.phone %></p>
        <p><%= link_to 'Show', therapist, id: therapist.therapist_id %></p>
      </div>
    <% end %>
  </div>
</div>