<p id="notice"><%= notice %></p>

<h2 class="result_header">Here are some therapists we think you should check out, ordered by relevance to your concerns:</h2>

<!--to display the therapist-->
<div class="row-fluid">
  <ul>
  <% puts @search_therapists %>
  <% @search_therapists.each do |therapist| %>
    <% therapist = @therapists.find_by therapist_id: therapist%>
      <li>
        <div class="small-hero-unit">
          <h4><%= link_to therapist.name, therapist, id: therapist.therapist_id %></h4>
          <%= image_tag therapist.th_photo.img_url, class: "img-circle" %>
          <p><%= therapist.phone %></p>
        </div>
      </li>
  <% end %>
  </ul>
</div>