<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Yo</td>
      <td>Yo</td>
      <td>Yo</td>
    </tr>
  </tbody>
</table>